html
  head
    include components/head.pug
    title Abacus
  body
    //- Nav
    include components/navbar.pug
    
    //- Info
    section#project-header.container-wrapper
      .container-fluid.full-height
        .row.row-no-gutters
          .col-sm-6.padding-24
            h1 ABACUS
            p As the sole designer at Abacus, I helped shape to core platform functionalities such as expense policy, custom CSV export, travel integrations, etc.
          ul.info.col-sm-6.padding-24
            li.flex.jc-sb
              h5 Product
              p.caption Reimbursement software
            hr
            li.flex.jc-sb
              h5 Role
              p.caption Product designer
            hr
            li.flex.jc-sb
              h5 Year
              p.caption 2018–2019
    
    //- Hero img
    section.container-wrapper.padding-top64
      .container-fluid
        .row.row-no-gutters
          .col-sm-offset-3.col-sm-6
            img(src="assets/img/home/abacus.png" class="full")
    
    //- Expense policy
    include components/content.pug
      block content
        h3 EXPENSE POLICY
        p.padding-tb18 The Expense Policy page is where companies set up rules to pre-screen expense submissions. While it was one of the most important parts of the product, this page was also the oldest and had the most heinous usability issues. I embarked on a 6-week long project to redesign this core platform experience for Abacus.
        a(href="expense-policy.html")
          button View case study
        img.padding-top18.full(src="assets/img/abacus/expense-policy.png")
        
    //- Export builder
    include components/content.pug
      block content
        h3 EXPORT BUILDER
        p.padding-tb18 By designing a custom CSV export that allows admins to export the exact data they want in the format they need, I help Abacus support integrations with any accounting software and allow admins to mobilize expense data for tracking, reporting, and analysis.
        a(href="export-builder.html")
          button View case study
        img.padding-top18.full(src="assets/img/abacus/export-builder.png")
    
    //- Travel integrations
    include components/content.pug
      block content
          h3 TRAVEL
          p.padding-top18 Abacus’s parent company acquired a corporate travel-booking platform in 2019. We consequently inherited travel data objects such as receipts and itineraries from this standalone product. I was tasked with designing how to display these objects natively in Abacus.
          img.padding-top18.full(src="assets/img/abacus/travel-page.png")
          img.padding-top18.full.padding-top30(src="assets/img/abacus/travel-receipts.png")
    
    //- Mobile design
    include components/content.pug
      block content
        h3 MOBILE DESIGN
        p.padding-top18 Aside from designing the Abacus experience on the web, I also spent some time working on the mobile app. While the web app is primarily for admins to review and approve expenses, the mobile app helps employees quickly submit expenses on the go.
        img.padding-top18.full(src="assets/img/abacus/mobile-design.png")

    //- HRIS upload
    include components/content.pug
      block content                
        h3.padding-top18 HRIS UPLOAD
        p.padding-top18 Admins needed a way to efficiently replace hundreds of employees’ records on Abacus. I designed a workflow that allowed them to upload their HRIS export to Abacus and bulk update users’ profiles.
        //- .row.row-no-gutters.padding-top18
        //-   .col-sm-offset-2.col-sm-8
        //-     img.full(src="assets/img/selfmade/mobile-filters.png")

    //- Footer
    include components/footer.pug
            
