html
  head
    include components/head.pug
    title Monthly Recap
  body
    //- Mixins
    include components/bullets.pug
    //- Nav
    include components/navbar.pug
    //- Case study header
    section.split-header.container-wrapper.border-bottom
      .container-fluid.padding-0
        .row.row-no-gutters
          .col-sm-6.col-md-6.padding-0.flex.full-height.case-cover.monthly-recap.border-right
          .col-sm-5.flex.flex-col.jc-sb.full-height
            .padding-tb18.svg-text
              <svg width="501" height="84" viewBox="0 0 501 84" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M39.069 83.665C48.245 83.665 55.941 81.3895 62.157 76.8385C68.41 72.2875 72.813 66.127 75.366 58.357L60.159 54.139C58.679 58.949 56.1815 62.7045 52.6665 65.4055C49.1515 68.1065 44.619 69.457 39.069 69.457C31.484 69.457 25.7675 66.978 21.9195 62.02C18.1085 57.025 16.203 50.365 16.203 42.04C16.203 33.715 18.1085 27.0735 21.9195 22.1155C25.7675 17.1205 31.484 14.623 39.069 14.623C44.619 14.623 49.1515 15.9735 52.6665 18.6745C56.1815 21.3385 58.679 25.094 60.159 29.941L75.366 25.723C72.813 17.953 68.41 11.7925 62.157 7.24149C55.941 2.6905 48.245 0.414998 39.069 0.414998C31.077 0.414998 24.1765 2.154 18.3675 5.632C12.5955 9.11 8.137 13.9755 4.992 20.2285C1.884 26.4815 0.33 33.752 0.33 42.04C0.33 50.328 1.884 57.5985 4.992 63.8515C8.137 70.1045 12.5955 74.97 18.3675 78.448C24.1765 81.926 31.077 83.665 39.069 83.665ZM121.885 83.665C129.877 83.665 136.759 81.926 142.531 78.448C148.34 74.97 152.799 70.1045 155.907 63.8515C159.052 57.5985 160.624 50.328 160.624 42.04C160.624 33.752 159.052 26.4815 155.907 20.2285C152.799 13.9755 148.34 9.11 142.531 5.632C136.759 2.154 129.877 0.414998 121.885 0.414998C113.893 0.414998 106.993 2.154 101.184 5.632C95.4119 9.11 90.9534 13.9755 87.8084 20.2285C84.7004 26.4815 83.1464 33.752 83.1464 42.04C83.1464 50.328 84.7004 57.5985 87.8084 63.8515C90.9534 70.1045 95.4119 74.97 101.184 78.448C106.993 81.926 113.893 83.665 121.885 83.665ZM121.885 69.457C114.3 69.346 108.602 66.83 104.791 61.909C101.017 56.988 99.1304 50.365 99.1304 42.04C99.1304 33.715 101.017 27.0365 104.791 22.0045C108.602 16.9725 114.3 14.512 121.885 14.623C129.507 14.734 135.205 17.25 138.979 22.171C142.753 27.092 144.64 33.715 144.64 42.04C144.64 50.365 142.753 57.0435 138.979 62.0755C135.205 67.1075 129.507 69.568 121.885 69.457ZM172.814 82H222.32V67.903H187.91V2.08H172.814V82ZM232.866 82H282.372V67.903H247.962V2.08H232.866V82ZM286.259 82H301.799L306.85 65.35H336.931L342.092 82H357.632L333.212 2.08H310.679L286.259 82ZM311.123 51.253L321.779 16.2325L332.602 51.253H311.123ZM367.58 82H402.989C411.166 82 417.234 79.7615 421.193 75.2845C425.189 70.7705 427.187 64.943 427.187 57.802C427.187 53.954 426.243 50.4205 424.356 47.2015C422.506 43.9455 419.713 41.5405 415.976 39.9865C418.344 38.5435 420.194 36.5085 421.526 33.8815C422.858 31.2545 423.524 28.128 423.524 24.502C423.524 20.987 422.71 17.509 421.082 14.068C419.454 10.627 416.882 7.778 413.367 5.521C409.852 3.227 405.246 2.08 399.548 2.08H367.58V82ZM382.898 33.271V16.177H399.326C402.212 16.177 404.413 17.0095 405.93 18.6745C407.447 20.3395 408.206 22.393 408.206 24.835C408.206 27.758 407.355 29.904 405.653 31.273C403.988 32.605 401.879 33.271 399.326 33.271H382.898ZM382.898 67.792V47.368H401.435C404.95 47.368 407.577 48.3115 409.316 50.1985C411.092 52.0485 411.98 54.398 411.98 57.247C411.98 60.466 410.981 63.0375 408.983 64.9615C407.022 66.8485 404.506 67.792 401.435 67.792H382.898ZM468.447 83.665C472.517 83.665 476.458 83.147 480.269 82.111C484.117 81.075 487.558 79.521 490.592 77.449C493.626 75.34 496.031 72.6945 497.807 69.5125C499.62 66.2935 500.526 62.538 500.526 58.246C500.526 54.213 499.768 50.883 498.251 48.256C496.771 45.629 494.865 43.52 492.534 41.929C490.24 40.301 487.835 39.043 485.319 38.155C482.803 37.23 480.509 36.49 478.437 35.935L464.562 32.161C462.86 31.717 461.195 31.162 459.567 30.496C457.939 29.83 456.589 28.9605 455.516 27.8875C454.443 26.7775 453.906 25.353 453.906 23.614C453.906 21.727 454.554 20.099 455.849 18.73C457.181 17.361 458.883 16.325 460.955 15.622C463.064 14.882 465.302 14.549 467.67 14.623C471.296 14.734 474.626 15.807 477.66 17.842C480.694 19.877 482.655 22.837 483.543 26.722L499.86 23.947C497.936 16.436 494.199 10.6825 488.649 6.68649C483.099 2.6905 476.18 0.636998 467.892 0.525997C462.416 0.488995 457.421 1.34 452.907 3.079C448.393 4.81799 444.786 7.46349 442.085 11.0155C439.384 14.5675 438.033 19.026 438.033 24.391C438.033 28.202 438.662 31.3655 439.92 33.8815C441.215 36.3605 442.825 38.3585 444.749 39.8755C446.673 41.3925 448.652 42.558 450.687 43.372C452.759 44.186 454.572 44.815 456.126 45.259L476.883 51.364C479.991 52.289 482.063 53.4545 483.099 54.8605C484.135 56.2295 484.653 57.728 484.653 59.356C484.653 61.576 483.895 63.4445 482.378 64.9615C480.898 66.4785 478.992 67.6255 476.661 68.4025C474.33 69.1795 471.925 69.568 469.446 69.568C465.006 69.568 461.047 68.3285 457.569 65.8495C454.091 63.3705 451.797 59.837 450.687 55.249L434.925 57.58C435.739 62.982 437.663 67.644 440.697 71.566C443.768 75.451 447.672 78.448 452.408 80.557C457.181 82.629 462.527 83.665 468.447 83.665Z" fill="#28292B"/>
              </svg>
            .company-logo.padding-bottom18
              <svg width="200" height="28" viewBox="0 0 200 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0)">
                      <path d="M185.761 12.0978C185.662 10.846 186.032 9.60212 186.799 8.60823C187.567 7.61434 188.676 6.9416 189.913 6.72099H184.762C184.655 6.72099 184.607 6.72099 184.571 6.59014C184 4.5322 183.489 2.73597 182.906 0.642357C182.889 0.540482 182.908 0.435793 182.96 0.346625C183.012 0.257458 183.094 0.189495 183.192 0.154639C184.071 -0.0339599 184.98 -0.0400977 185.862 0.136605C186.745 0.313307 187.581 0.669093 188.32 1.18196C189.06 1.69484 189.686 2.35389 190.16 3.11838C190.635 3.88286 190.947 4.73653 191.078 5.6266C191.183 6.57141 191.183 7.52482 191.078 8.46963L190.674 11.6101C190.674 11.6933 190.674 11.7171 190.567 11.729L186.879 12.3952L186.237 12.5141C186.174 12.5309 186.108 12.5327 186.045 12.5194C185.981 12.5061 185.921 12.4781 185.87 12.4377C185.819 12.3972 185.779 12.3454 185.752 12.2864C185.724 12.2273 185.711 12.1628 185.713 12.0978" fill="#FF6C65"/>
                      <path d="M197.133 12.0978C197.232 10.8461 196.862 9.60215 196.095 8.60826C195.327 7.61437 194.217 6.94163 192.981 6.72102H198.132C198.227 6.72102 198.287 6.72101 198.311 6.59016L199.988 0.642385C200.002 0.584581 200.005 0.524544 199.996 0.46572C199.987 0.406897 199.966 0.350444 199.935 0.299602C199.904 0.248761 199.863 0.204531 199.815 0.169453C199.767 0.134374 199.713 0.109137 199.655 0.0951893C198.775 -0.0916109 197.867 -0.0964341 196.985 0.0810166C196.104 0.258467 195.268 0.614437 194.529 1.12702C193.79 1.6396 193.164 2.29795 192.689 3.06155C192.214 3.82515 191.901 4.67784 191.768 5.56715C191.66 6.51175 191.66 7.46558 191.768 8.41018L192.161 11.5506C192.16 11.5802 192.171 11.6088 192.191 11.6308C192.211 11.6528 192.238 11.6666 192.268 11.6696L195.955 12.3357L196.609 12.4547C196.672 12.4689 196.737 12.469 196.8 12.4547C196.862 12.4404 196.921 12.4123 196.971 12.3723C197.022 12.3323 197.062 12.2815 197.09 12.2237C197.118 12.1659 197.133 12.1026 197.133 12.0383" fill="#FF6C65"/>
                      <path d="M10.0636 27.5025C15.8211 27.5025 18.6165 25.4089 18.6165 21.1027C18.6165 16.9868 15.8211 14.9765 10.0636 14.9765H8.54101C7.13733 14.9765 6.4236 14.5721 6.4236 13.7869C6.4236 13.2279 6.6972 12.2881 8.54101 12.2881H18.0575C18.2152 12.2881 18.3665 12.2254 18.478 12.1139C18.5896 12.0024 18.6522 11.8511 18.6522 11.6933V7.95812C18.6522 7.80038 18.5896 7.64909 18.478 7.53755C18.3665 7.42601 18.2152 7.36334 18.0575 7.36334H8.54101C2.79546 7.36334 0 9.51644 0 13.7632C0 17.8433 2.79546 19.8775 8.54101 19.8775H10.0636C11.4673 19.8775 12.181 20.2938 12.181 21.067C12.181 21.6261 11.9075 22.554 10.0636 22.554H0.594778C0.437033 22.554 0.285749 22.6166 0.174206 22.7282C0.0626639 22.8397 0 22.991 0 23.1487L0 26.8721C0 27.0298 0.0626639 27.1811 0.174206 27.2926C0.285749 27.4042 0.437033 27.4668 0.594778 27.4668L10.0636 27.5025Z" fill="#FF6C65"/>
                      <path d="M38.7797 7.36334H22.8873C22.7295 7.36334 22.5782 7.42601 22.4667 7.53755C22.3551 7.64909 22.2925 7.80038 22.2925 7.95812V26.9077C22.2925 27.0655 22.3551 27.2168 22.4667 27.3283C22.5782 27.4399 22.7295 27.5025 22.8873 27.5025H38.7797C38.9375 27.5025 39.0887 27.4399 39.2003 27.3283C39.3118 27.2168 39.3745 27.0655 39.3745 26.9077V23.1844C39.3745 23.0267 39.3118 22.8754 39.2003 22.7639C39.0887 22.6523 38.9375 22.5897 38.7797 22.5897H28.7161V19.8775H38.7797C38.9375 19.8775 39.0887 19.8148 39.2003 19.7033C39.3118 19.5917 39.3745 19.4404 39.3745 19.2827V15.5713C39.3745 15.4135 39.3118 15.2622 39.2003 15.1507C39.0887 15.0392 38.9375 14.9765 38.7797 14.9765H28.7161V12.2643H38.7797C38.9375 12.2643 39.0887 12.2016 39.2003 12.0901C39.3118 11.9786 39.3745 11.8273 39.3745 11.6695V7.95812C39.3745 7.80038 39.3118 7.64909 39.2003 7.53755C39.0887 7.42601 38.9375 7.36334 38.7797 7.36334Z" fill="#FF6C65"/>
                      <path d="M59.5489 27.5025C59.7057 27.4995 59.8553 27.4358 59.9661 27.3249C60.077 27.2141 60.1407 27.0645 60.1437 26.9077V23.1844C60.1407 23.0276 60.077 22.8781 59.9661 22.7672C59.8553 22.6563 59.7057 22.5927 59.5489 22.5897H49.4734V7.95812C49.4734 7.80038 49.4107 7.64909 49.2992 7.53755C49.1877 7.42601 49.0364 7.36334 48.8786 7.36334H43.6446C43.4868 7.36334 43.3356 7.42601 43.224 7.53755C43.1125 7.64909 43.0498 7.80038 43.0498 7.95812V26.9077C43.0529 27.0645 43.1165 27.2141 43.2274 27.3249C43.3383 27.4358 43.4878 27.4995 43.6446 27.5025H59.5489Z" fill="#FF6C65"/>
                      <path d="M80.8899 19.2827V15.5713C80.8869 15.4145 80.8233 15.265 80.7124 15.1541C80.6015 15.0432 80.452 14.9795 80.2952 14.9765H70.2434V12.2643H80.319C80.4767 12.2643 80.628 12.2016 80.7395 12.0901C80.8511 11.9786 80.9137 11.8273 80.9137 11.6695V7.95812C80.9137 7.80038 80.8511 7.64909 80.7395 7.53755C80.628 7.42601 80.4767 7.36334 80.319 7.36334H64.4146C64.2569 7.36334 64.1056 7.42601 63.994 7.53755C63.8825 7.64909 63.8198 7.80038 63.8198 7.95812V26.9077C63.8198 27.0655 63.8825 27.2168 63.994 27.3283C64.1056 27.4399 64.2569 27.5025 64.4146 27.5025H69.6486C69.8064 27.5025 69.9577 27.4399 70.0692 27.3283C70.1808 27.2168 70.2434 27.0655 70.2434 26.9077V19.8775H80.319C80.4725 19.8713 80.6178 19.806 80.7242 19.6951C80.8307 19.5842 80.8901 19.4364 80.8899 19.2827Z" fill="#FF6C65"/>
                      <path d="M106.501 27.5025H111.735C111.893 27.5025 112.044 27.4399 112.156 27.3283C112.267 27.2168 112.33 27.0655 112.33 26.9077V7.95812C112.33 7.80038 112.267 7.64909 112.156 7.53755C112.044 7.42601 111.893 7.36334 111.735 7.36334H103.111C102.988 7.36339 102.869 7.40111 102.769 7.47135C102.669 7.54159 102.593 7.64094 102.552 7.7559L98.4596 19.1994L94.3794 7.7559C94.3364 7.64189 94.2601 7.54346 94.1604 7.47345C94.0606 7.40343 93.9421 7.36506 93.8203 7.36334H85.1841C85.0264 7.36334 84.8751 7.42601 84.7636 7.53755C84.652 7.64909 84.5894 7.80038 84.5894 7.95812V26.9077C84.5894 27.0655 84.652 27.2168 84.7636 27.3283C84.8751 27.4399 85.0264 27.5025 85.1841 27.5025H90.4063C90.5631 27.4995 90.7126 27.4358 90.8235 27.3249C90.9344 27.2141 90.998 27.0645 91.0011 26.9077V13.1803L94.9623 27.0624C94.9961 27.1881 95.0703 27.2993 95.1735 27.3788C95.2766 27.4583 95.403 27.5018 95.5333 27.5025H101.362C101.492 27.5018 101.619 27.4583 101.722 27.3788C101.825 27.2993 101.899 27.1881 101.933 27.0624L105.871 13.1803V26.9077C105.872 26.9884 105.89 27.068 105.922 27.1419C105.955 27.2157 106.002 27.2822 106.061 27.3376C106.119 27.393 106.189 27.4361 106.264 27.4644C106.34 27.4928 106.42 27.5057 106.501 27.5025V27.5025Z" fill="#FF6C65"/>
                      <path d="M115.863 27.2408C115.917 27.3207 115.989 27.3863 116.074 27.4319C116.159 27.4774 116.254 27.5017 116.351 27.5025H121.335C121.465 27.5018 121.591 27.4583 121.695 27.3788C121.798 27.2993 121.872 27.1881 121.906 27.0624L122.227 25.968H128.329L128.651 27.0743C128.687 27.1978 128.762 27.3064 128.865 27.3836C128.968 27.4608 129.093 27.5025 129.222 27.5025H134.253C134.35 27.5017 134.445 27.4774 134.53 27.4319C134.615 27.3863 134.687 27.3207 134.741 27.2408C134.794 27.1632 134.827 27.0744 134.84 26.9815C134.852 26.8887 134.843 26.7942 134.813 26.7055L128.092 7.7559C128.05 7.64094 127.974 7.54159 127.874 7.47135C127.774 7.40111 127.655 7.36339 127.532 7.36334H123.119C122.997 7.36339 122.878 7.40111 122.778 7.47135C122.678 7.54159 122.602 7.64094 122.56 7.7559L115.791 26.7055C115.758 26.7937 115.747 26.8887 115.76 26.9821C115.772 27.0755 115.808 27.1644 115.863 27.2408V27.2408ZM125.32 15.262L126.985 21.067H123.714L125.32 15.262Z" fill="#FF6C65"/>
                      <path d="M148.385 7.36336H138.869C138.711 7.36336 138.56 7.42603 138.448 7.53757C138.337 7.64911 138.274 7.8004 138.274 7.95814V26.9078C138.277 27.0646 138.341 27.2141 138.452 27.325C138.562 27.4359 138.712 27.4995 138.869 27.5025H148.385C151.775 27.5025 154.333 26.6461 155.998 24.9688C157.664 23.2915 158.508 20.6031 158.449 17.082C158.368 14.4702 157.271 11.993 155.392 10.1778C153.512 8.36265 150.998 7.35282 148.385 7.36336V7.36336ZM148.385 22.5897H144.733V12.2643H148.385C150.039 12.2643 152.025 13.1565 152.025 17.427C152.025 21.6975 150.039 22.6016 148.385 22.6016V22.5897Z" fill="#FF6C65"/>
                      <path d="M162.493 7.36334C162.445 7.36334 162.397 7.37288 162.352 7.39141C162.307 7.40994 162.267 7.43711 162.233 7.47135C162.198 7.50559 162.171 7.54625 162.153 7.59099C162.134 7.63573 162.125 7.68368 162.125 7.7321V27.1338C162.125 27.1822 162.134 27.2301 162.153 27.2749C162.171 27.3196 162.198 27.3603 162.233 27.3945C162.267 27.4288 162.307 27.4559 162.352 27.4745C162.397 27.493 162.445 27.5025 162.493 27.5025H178.838C178.936 27.5025 179.029 27.4637 179.099 27.3945C179.168 27.3254 179.207 27.2316 179.207 27.1338V22.9584C179.207 22.8606 179.168 22.7668 179.099 22.6977C179.029 22.6285 178.936 22.5897 178.838 22.5897H168.548V19.8775H178.838C178.936 19.8775 179.029 19.8386 179.099 19.7695C179.168 19.7003 179.207 19.6065 179.207 19.5087V15.3453C179.207 15.2475 179.168 15.1537 179.099 15.0845C179.029 15.0154 178.936 14.9765 178.838 14.9765H168.548V12.2643H178.838C178.886 12.2643 178.934 12.2548 178.979 12.2362C179.024 12.2177 179.064 12.1905 179.099 12.1563C179.133 12.1221 179.16 12.0814 179.178 12.0367C179.197 11.9919 179.207 11.944 179.207 11.8955V7.7321C179.207 7.6343 179.168 7.54051 179.099 7.47135C179.029 7.40219 178.936 7.36334 178.838 7.36334H162.493Z" fill="#FF6C65"/>
                  </g>
              </svg>
    //- SUMMARY
    section.container-wrapper
      .container-fluid
        .row.row-no-gutters.padding-top30
          .col-md-offset-1.col-md-10.col-sm-12
            ul.info
              li.flex.jc-sb
                h5 SOLUTION
                p.caption A collaboration platform for small e-commerce entrepreneurs. Brands can run joined Instagram giveaways to multiply their audience reach.
              hr
              li.flex.jc-sb
                h5 ROLE
                p.caption Lead product designer
              hr
              li.flex.jc-sb
                h5 YEAR
                p.caption 2019
              hr
              li.flex.jc-sb
                h5 AWARDS
                p.caption 
                  <a href="https://www.indigoawards.com/winners/2795" target="_blank"> Indigo Design Awards</a>, dotCOMM Award
              hr           
    //- About
    section.container-wrapper
      .container-fluid
        .row.row-no-gutters.padding-top30
          .col-md-offset-1.col-md-5.col-sm-12.padding-bottom18-mobile
            p It is hard for small e-commerce brands to stand out in today’s market, especially with big commerce competitors like Amazon. At SelfMade, we celebrate diversity in small businesses by building marketing tools to help smaller brands grow their customer base. Through intensive user and market research, we found that collaboration is a low-cost, creative marketing technique for brands to cross-pollinate customers and expose their product to a wider audience. In the summer of 2019, the SelfMade product team launched Collabs, a free collaboration platform for small e-commerce entrepreneurs to find, connect, and collaborate with one another.
          .col-md-5.col-sm-12
            p Brands can join force for an Instagram giveaway, pop-up shop, ad campaign, etc. and double their social followers and email list. Our free tool makes it easier for brands to work out collaboration logistics such as timeline, location, prize, and winner. Within 3 months of launching, the platform garnered over 2,000 users without much marketing effort from SelfMade. We also conducted interviews with our users every week, listening closely for their input on the platform, and turning these insights into thoughtful features.
    //- Mocks
    section.container-wrapper.margin-top48.border-top
      .container-fluid
        .row.row-no-gutters.padding-top64
          .col-md-offset-1.col-md-10.col-sm-12
            img(src="assets/img/selfmade/collabs-home.png").full.drop-shadow.drop-shadow
        .row.row-no-gutters.padding-top64
          .col-md-offset-1.col-md-10.col-sm-12
            img(src="assets/img/selfmade/collabs-group-collabs.png").full.drop-shadow
        .row.row-no-gutters.padding-top64
          .col-md-offset-1.col-md-10.col-sm-12
            img(src="assets/img/selfmade/collabs-how-it-works.png").full.drop-shadow
        .row.row-no-gutters.padding-top64
          .col-md-offset-1.col-md-10.col-sm-12
            img(src="assets/img/selfmade/collabs-brand-profile.png").full.drop-shadow
        .row.row-no-gutters.padding-top64
          .col-md-offset-1.col-md-10.col-sm-12
            img(src="assets/img/selfmade/collabs-ig-giveaway-page.png").full.drop-shadow
        .row.row-no-gutters.padding-top64
          .col-md-offset-1.col-md-10.col-sm-12
            img(src="assets/img/selfmade/collabs-flow.png").full.drop-shadow
        .row.row-no-gutters.padding-top64
          .col-md-offset-1.col-md-10.col-sm-12
            img(src="assets/img/selfmade/collabs-ideas.png").full.drop-shadow
        .row.row-no-gutters.padding-top64
          .col-md-offset-1.col-md-10.col-sm-12
            img(src="assets/img/selfmade/collabs-host-a-collab.png").full.drop-shadow
        .row.row-no-gutters.padding-top64
          .col-md-offset-1.col-md-10.col-sm-12
            img(src="assets/img/selfmade/collabs-looker.png").full.drop-shadow
        .row.row-no-gutters.padding-top64
          .col-md-offset-1.col-md-10.col-sm-12
            img(src="assets/img/selfmade/collabs-giveaway-preview.png").full.drop-shadow
        .row.row-no-gutters.padding-top64
          .col-md-offset-1.col-md-10.col-sm-12
            img(src="assets/img/selfmade/collabs-message.png").full.drop-shadow
        .row.row-no-gutters.padding-top64
          .col-md-offset-1.col-md-10.col-sm-12
            img(src="assets/img/selfmade/collabs-stats.png").full.drop-shadow
        .row.row-no-gutters.padding-top64
          .col-md-offset-1.col-md-10.col-sm-12
            img(src="assets/img/selfmade/collabs-mobile.png").full.drop-shadow
    //- Footer
    include components/footer.pug
    //- Contact
    include components/contact.pug

