html
  head
    include components/head.pug
    title Design at SelfMade
  body
    include components/navbar.pug
    
    section#header
      .container
        .row.content
          .col-sm-3
            h1 Design at SelfMade.
            h4 SelfMade | Jul 2019 - present
          .col-sm-offset-2.col-sm-6
            p.bigger At SelfMade, I help build tools for small e-commerce entrepreneurs to grow their business.
        img(src="assets/img/design-at-selfmade/hero.png" class="full")
    
    section.process
      .container
        .row
            h3.col-sm-3 Message (Collabs)
            p.col-sm-6 SelfMade offers Collabs, a free collaboration platform for small e-commerce business owners to find and collaborate with one another through Instagram giveaways, joined email campaign, pop-up shops, etc. I helped design the messaging feature which enables brands to communicate with one another without having to join a collab.
        .col-sm-offset-1.col-sm-10
          img(src="assets/img/design-at-selfmade/message-userflow.png" class="full")
          div.vid.full
              video(loop="" autoplay="")
                  source(src="assets/img/design-at-selfmade/message.mp4" type="video/mp4")
                  Your browser does not support the video tag.
          img(src="assets/img/design-at-selfmade/message.png" class="full")

    
    section.process
      .container
        .row
            h3.col-sm-3 Mobile Filters (Collabs)
            p.col-sm-6 Did you know that Collabs is a fully responsive web app? One of the first projects I worked on was redesigning the search and filter functionality on mobile.
        .col-sm-offset-1.col-sm-10
          img(src="assets/img/design-at-selfmade/mobile-filters.png" class="full")
    
    section.process
      .container
        .row
            h3.col-sm-3 Timeline (Collabs)
            p.col-sm-6 The timeline allows users to track both their and their collaborators’ progress during a joined Instagram giveaway.
        .col-sm-offset-1.col-sm-10
          img(src="assets/img/design-at-selfmade/timeline.png" class="full")
          img(src="assets/img/design-at-selfmade/timeline-states.png" class="full")
    
    section.process
      .container
        .row
            h3.col-sm-3 Ad Revision (Managed)
            .col-sm-6 
              p Originally, SelfMade’s manged partners could only leave feedback for an entire ad campaign in a text field. I designed a flow that not only allowed partners to leave feedback on individual ads within a campaign but also structured their feedback into 3 categories—creative, copy, and both. I also designed a flow for marketing managers to handdle this structured feedback in our internal platform.
              p We tested 2 different UX's for this feature. Check out <a href="https://invis.io/Z3VDEU14R7K" target="_blank" class="text-link">Prototype A</a> and <a href="https://invis.io/Q3VDETF7YMZ" target="_blank" class="text-link">Prototype B</a>.
        .col-sm-offset-1.col-sm-10
            img(src="assets/img/design-at-selfmade/revision1.png" class="full")
            img(src="assets/img/design-at-selfmade/revision2.png" class="full")
            img(src="assets/img/design-at-selfmade/piazza1.png" class="full")
            img(src="assets/img/design-at-selfmade/piazza2.png" class="full")
            
            
    include components/footer.pug