html
  head
    include components/head.pug
    title Export Builder
  body
    //- Mixins
    include components/bullets.pug

    //- Nav
    include components/navbar.pug
    
    //- Case study header
    section.case-header.container-wrapper.border-all.no-border-mobile-top
      .container-fluid.padding-0
        .row.row-no-gutters
          .col-sm-6.col-md-6.padding-0.flex.full-height.case-cover.export-builder.border-right.border-left
          .col-sm-5.flex.flex-col.jc-sb.full-height
            .svg-text.padding-tb18
              <svg width="522" height="214" viewBox="0 0 522 214" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 3.3999H60.9V18.0999H16.1V41.1999H53.1V55.7999H16.1V82.2999H60.9V96.9999H0.5V3.3999Z" stroke="#2150BA" stroke-miterlimit="10"/>
                <path d="M100.499 49.6999L69.6992 3.3999H88.7992L110.299 36.2999L131.399 3.3999H150.799L119.999 49.6999L151.599 96.9999H132.399L110.399 62.8999L87.9992 97.0999H68.6992L100.499 49.6999Z" stroke="#2150BA" stroke-miterlimit="10"/>
                <path d="M200.6 3.3999C203.4 3.3999 205.8 3.5999 208 3.8999C215.9 5.0999 221.8 8.3999 225.9 13.6999C230 18.9999 231.9 25.6999 231.9 33.7999C231.9 41.7999 229.9 48.3999 225.8 53.7999C221.7 59.1999 215.8 62.4999 208 63.7999C205.8 64.0999 203.4 64.2999 200.6 64.2999H177.5V96.8999H161.9V3.3999H200.6ZM205.8 49.0999C209.4 48.1999 212 46.2999 213.6 43.3999C215.2 40.4999 216.1 37.2999 216.1 33.7999C216.1 30.2999 215.3 27.1999 213.6 24.2999C212 21.3999 209.4 19.5999 205.8 18.6999C204.2 18.2999 202.3 17.9999 199.9 17.9999H177.4V49.5999H199.9C202.3 49.6999 204.2 49.4999 205.8 49.0999Z" stroke="#2150BA" stroke-miterlimit="10"/>
                <path d="M260.599 92.8999C253.799 88.7999 248.699 83.0999 245.099 75.6999C241.499 68.2999 239.699 59.7999 239.699 50.1999C239.699 40.5999 241.499 32.0999 245.099 24.6999C248.699 17.2999 253.899 11.5999 260.599 7.4999C267.399 3.3999 275.299 1.3999 284.499 1.3999C293.699 1.3999 301.699 3.3999 308.399 7.4999C315.199 11.5999 320.299 17.2999 323.899 24.6999C327.499 32.0999 329.199 40.5999 329.199 50.1999C329.199 59.7999 327.399 68.2999 323.899 75.6999C320.299 83.0999 315.199 88.7999 308.399 92.8999C301.599 96.9999 293.699 98.9999 284.499 98.9999C275.399 98.9999 267.399 96.9999 260.599 92.8999ZM305.499 75.0999C310.299 68.9999 312.699 60.6999 312.699 50.1999C312.699 39.6999 310.299 31.4999 305.499 25.3999C300.699 19.3999 293.699 16.2999 284.499 16.1999C275.299 16.0999 268.299 19.0999 263.499 25.1999C258.699 31.2999 256.299 39.5999 256.299 50.1999C256.199 60.6999 258.599 68.8999 263.399 74.9999C268.299 80.9999 275.299 84.0999 284.499 84.1999C293.699 84.2999 300.699 81.2999 305.499 75.0999Z" stroke="#2150BA" stroke-miterlimit="10"/>
                <path d="M396.099 97.0999L380.199 64.4999H357.799V97.0999H342.199V3.3999H380.999C383.799 3.3999 386.199 3.5999 388.399 3.8999C396.299 5.0999 402.199 8.3999 406.299 13.6999C410.299 18.9999 412.299 25.6999 412.299 33.7999C412.299 40.2999 410.999 45.9999 408.299 50.7999C405.599 55.6999 401.699 59.1999 396.499 61.4999L413.799 96.9999H396.099V97.0999ZM357.899 49.6999H380.399C382.699 49.6999 384.699 49.4999 386.299 48.9999C389.899 48.0999 392.499 46.1999 394.099 43.2999C395.699 40.3999 396.599 37.1999 396.599 33.6999C396.599 30.1999 395.799 27.0999 394.099 24.1999C392.399 21.2999 389.899 19.4999 386.299 18.5999C384.699 18.1999 382.799 17.8999 380.399 17.8999H357.899V49.6999Z" stroke="#2150BA" stroke-miterlimit="10"/>
                <path d="M450.601 18.0999H420.301V3.3999H496.601V18.0999H466.301V96.9999H450.601V18.0999Z" stroke="#2150BA" stroke-miterlimit="10"/>
                <path d="M66 169.9C68.4 173.7 69.6 178 69.6 182.9C69.6 191.4 67.2 198.2 62.3 203.2C57.4 208.2 50.5 210.7 41.5 210.7H0.5V117.1H37.7C43.7 117.1 48.8 118.3 52.9 120.8C57.1 123.3 60.2 126.5 62.2 130.4C64.2 134.3 65.3 138.5 65.3 142.9C65.3 147.1 64.5 150.9 62.8 154C61.1 157.2 58.8 159.7 55.8 161.5C60.2 163.3 63.6 166.1 66 169.9ZM16.4 154.5H37.5C41.1 154.5 43.9 153.5 46.1 151.6C48.3 149.6 49.3 146.9 49.3 143.2C49.3 139.9 48.2 137.2 46.1 135.1C44 133 41.1 131.9 37.5 131.9H16.4V154.5ZM49.7 192.2C52.3 189.7 53.7 186.5 53.7 182.4C53.7 178.5 52.5 175.3 50 172.8C47.5 170.3 44.2 169.1 39.9 169.1H16.4V195.9H39.5C43.7 195.9 47.1 194.7 49.7 192.2Z" fill="#2150BA" stroke="#2150BA" stroke-miterlimit="10"/>
                <path d="M100.6 208.1C94.8996 205.1 90.3996 200.8 87.2996 195.2C84.0996 189.7 82.5996 183.2 82.5996 175.8V117.2L98.4996 117.1V175.5C98.4996 180.1 99.4996 184.1 101.5 187.5C103.5 190.9 106.2 193.5 109.5 195.3C112.8 197.1 116.5 198 120.4 198C124.3 198 127.9 197.1 131.3 195.2C134.6 193.3 137.3 190.7 139.3 187.3C141.3 183.9 142.3 180 142.3 175.5V117.1H158.2V175.9C158.2 183.3 156.6 189.7 153.5 195.3C150.3 200.8 145.9 205.1 140.2 208.2C134.5 211.2 127.9 212.7 120.6 212.7C112.9 212.7 106.3 211.2 100.6 208.1Z" fill="#2150BA" stroke="#2150BA" stroke-miterlimit="10"/>
                <path d="M177.4 117.1H193V210.7H177.4V117.1Z" fill="#2150BA" stroke="#2150BA" stroke-miterlimit="10"/>
                <path d="M213.801 117.1H229.401V196H270.701V210.7H213.801V117.1V117.1Z" fill="#2150BA" stroke="#2150BA" stroke-miterlimit="10"/>
                <path d="M311.601 117.1C316.401 117.1 320.201 117.3 323.001 117.6C330.301 118.5 336.501 121 341.701 125.3C346.901 129.6 350.801 135.1 353.501 141.7C356.201 148.4 357.501 155.7 357.501 163.8C357.501 171.9 356.201 179.2 353.501 185.9C350.801 192.6 346.901 198 341.701 202.3C336.501 206.5 330.301 209.1 323.001 210.1C320.101 210.4 316.301 210.6 311.601 210.6H281.801V117H311.601V117.1ZM322.001 195.3C328.201 194.1 333.001 190.6 336.201 184.7C339.401 178.9 341.001 171.9 341.001 164C341.001 155.9 339.401 149 336.201 143.2C333.001 137.4 328.301 133.9 322.001 132.7C319.901 132.3 316.501 132 311.601 132H297.801V196H311.601C316.401 195.9 319.901 195.7 322.001 195.3Z" fill="#2150BA" stroke="#2150BA" stroke-miterlimit="10"/>
                <path d="M372.801 117.1H433.201V131.8H388.401V154.9H425.401V169.5H388.401V196H433.201V210.7H372.801V117.1Z" fill="#2150BA" stroke="#2150BA" stroke-miterlimit="10"/>
                <path d="M502.701 210.7L486.801 178.1H464.401V210.7H448.801V117.1H487.501C490.301 117.1 492.701 117.3 494.901 117.6C502.801 118.8 508.701 122.1 512.801 127.4C516.901 132.7 518.801 139.4 518.801 147.5C518.801 154 517.501 159.7 514.801 164.5C512.101 169.4 508.201 172.9 503.001 175.2L520.301 210.7H502.701ZM464.501 163.4H487.001C489.301 163.4 491.301 163.2 492.801 162.8C496.401 161.9 499.001 160 500.601 157.1C502.201 154.2 503.101 151 503.101 147.5C503.101 144 502.301 140.9 500.601 138C499.001 135.1 496.401 133.3 492.801 132.4C491.201 132 489.301 131.7 487.001 131.7H464.501V163.4Z" fill="#2150BA" stroke="#2150BA" stroke-miterlimit="10"/>
              </svg>
            .padding-bottom18
              p By designing a custom CSV export that allows admins to export the exact data they want in the format they need, I help Abacus support integrations with any accounting software and allow admins to mobilize expense data for tracking, reporting, and analysis.
    
    //- Background
    section.container-wrapper
      .container-fluid
        .row.row-no-gutters.padding-top30
          .col-md-offset-2.col-md-8.col-sm-12.padding-0
            h3 BACKGROUND
            p.padding-tb18 Why do we deal with #[span(class="bold") accounting softwares]?
            p Abacus does more than just reimbursing employees. As a full-fledged expense management solution, we also help companies reconcile their monthly spending into their accounting platforms. From their accounting platform, accountants can handle payroll, reporting, billing, auditing, etc.
            p.padding-tb18 There are 4 major accounting softwares: QB, Xero, Intacct, Netsuite. Abacus has direct integration with all 4 of these. However, companies actually use a much wider range of accounting softwares than that depending on the size and type of their business. In our customers’ case, there is #[span(class="bold") hardly any industry standard].

    //- Problem
    include components/content.pug
      block content
        h3 PROBLEM
        p.padding-tb18 For a long time, we instructed our customers to export their expense data as CSV’s and import them to their accounting software. This sounds simple, but in reality it’s not:
        +bullets(
          "It takes a ton of formatting to get the exported CSVs in the right shape for an accounting import. Doing this twice a week is a hassle.",
          "We only supported all-data export. Even if admin just want to look at 1-2 columns, they had to export everything out of Abacus, which took a while."
        )
        p.padding-tb18 This process has become one of the most time-consuming, manual, and error-prone process our admins have to go through. In addition to accounting import, accountants just love having #[span(class="bold") full control of their data]. They’d also much rather view and manipulate their data in a dedicated software like Excel. The fact that we didn’t support a very advanced export workflow was a huge disadvantage for our product.

    //- Hypothesis
    include components/content.pug
      block content
        h3 HYPOTHESIS
        p.padding-tb18 By building a custom CSV export workflow that allows admins to select and format exactly what data to export, we will be able to not only support #[span(class="bold") integration] with any accounting softwares but also empower admins to #[span(class="bold") mobilize Abacus data] for tracking, reporting, and analysis.
    
    //- Research
    include components/content.pug
      block content
        h3 RESEARCH
        p.padding-tb18 We have an idea of the general export workflow, but now we’re faced with a more taxing question: How #[span(class="bold") custom] is this custom export flow going to be?
        +bullets(
          "We want admins to be able to export relatively clean, ready-to-import data, but we also don’t want to turn Abacus into Excel. We definitely don’t want this feature to carry the complexity of our customers’ accounting softwares. After all, we’re still an expense management platform.",
          "We made an educated guess that most admins would be willing to do some amount of extra formatting on their own, provided that we allow them to A.Select exactly what they want B.Do basic formatting such as rename column names, concatenate, etc… But these are just assumptions.",
          "On top of this, we have yet to understand our customer’s export habit: how often they are exporting expenses? Would an export history be useful to them?"
        )
        p.padding-tb18 To answer existing questions and validate some assumptions we made, we sent out a survey to our admins.
        img.full(src="assets/img/export-builder-survey.png")
        p.padding-tb18 What we found
        +bullets(
          'Sage, Oracle, and Dynamics are our top 3 platforms. However, even within these platforms, there’s a lot of variation. Nothing totally "off the shelf" is likely to work.',
          "The ability to rename column headers and reformat column values is important. Simply turning on and off columns is insufficient.",
          "Considering admins' exporting frequency (once/twice a week), the ability to auto-schedule exports is something worth considering."
        )
    
    //- User stories
    include components/content.pug
      block content
        h3 USER STORIES
        p.padding-tb18 After we have a substantial understanding of admins' needs through the survey, we started scope out the functionality requirements of this feature. As an #[span(class="bold") admin], I should be able to:
        +bullets(
          "Create, edit and delete export templates",
          "Within the template, add, rename, reorder, format, and concatenate columns",
          "Pick a template and export CSVs with correct data and format"
        )

    //- Design
    include components/content.pug
      block content
        h3 DESIGN
        h5.padding-tb18 USERFLOW & WIREFRAME
        p The biggest UX challenge here was to figure out #[span(class="bold") where the create template flow lived]. Setting up a template is something that admins are going to do only once. Once the template is ready to go, chances are they’ll keep using the same template for every export, with relatively little post-setup alterations.
        p.padding-tb18 My initial thought was to place this creation flow in the same spot where you would do your export. However, after first round of review with my PM, I realize that it’s more ideal to keep this in the setting. I then continued to spec out the feature's flow and drew wireframes to illustrate the UX for each part of the flow.
        img.full(src="assets/img/export-builder-flow.png")
        img.full.padding-tb18(src="assets/img/export-builder-sketches.png")
        h5 UI & INTERACTION
        p.padding-tb18 Once we got a good grasp of the feature architecture, I moved on to design in high-fidelity. Users can either start with some of our suggested pre-canned templates or from scratch.
        img.full(src="assets/img/export-builder-create-a-template-flow.gif")
        p.padding-tb18 For me, the most interesting part of this project is designing the interactions around #[span(class="bold") string formatting]. Admins need to be able to #[span(class="bold") concatenate] two columns together and also edit date format. We happened to already be using React Select in our webapp, which works perfectly for both cases. Check out how we handle these interactions below.
        div.vid
          video(loop="" autoplay="")
            source(src='assets/img/export-builder-concat.mp4' type="/mp4")
            Your browser does not support the video tag.
        p.padding-tb18 Below is a compilation of every mockup I did to spec out the many micro-interactions that happen within this feature, ranging from date/name format to column concatenation and reordering.
        img.full(src="assets/img/export-builder-template-details.png")
        p.padding-tb18 Once admins finish setting up their template, they can use it to export needed data from their inbox every time after.
        img.full(src="assets/img/export-builder-export-modal.png")
        p.padding-tb18 I also explored the export auto-schedule flow. However, with our resource constraints, we decided to push this back to v2 of this project.
        img.full(src="assets/img/export-builder-autoschedule-1.png")
        img.full(src="assets/img/export-builder-autoschedule-2.png")

    //- Launch
    include components/content.pug
      block content
        h3 LAUNCH
        p.padding-tb18 The feature was launched on March 12, 2019. It has since become a core selling points to our sales team as no other solution in the market was as adaptive as Abacus's Export Builder. You can read more on our blog posts #[a(href="https://blog.abacus.com/csv-download-expense-data/") Remix Your Expense Data With Export Builder] and #[a(href="https://blog.abacus.com/csv-download-expense-data/") 6 Cool Things You Can Do With Custom CSV Exports].

    //- Launch
    include components/content.pug
      block content
        h3.padding-bottom18 TAKEAWAYS
        +bullets(
          "Design for the 80% case first. It is easy to get caught up in all the possible functionalities that a feature could bring in. However, we could end up with an overly complex feature with only 20% of our customers actually needing the complexity. Consider it a successful feature if you could account for the 80% case.",
          "Break up the feature if needed. This falls right in with the 80% case's ethos: don't try to do everything at once. As a startup, we have to be strategic with our resources. If a part of the functionality is going to a complex add-on, save it for v2!"
        )

    //- Footer
    include components/footer.pug

    //- Social Media
    include components/social-media.pug






        












    
    
