html
  head
    include components/head.pug
    title Havas
  body
    //- Nav
    include components/navbar.pug
    +nav-desktop("index.html")
    +nav-mobile("inhdex.html")

    //- Info
    section#project-header.container-wrapper
      .container-fluid.full-height
        .row.row-no-gutters
          .col-sm-6.padding-24
            h1 Havas
            p My first job right after college was at an ad agency. While at Havas, I worked on code and design projects for <span class="bold">IBM</span> & <span class="bold">TD Ameritrade</span>.
          ul.info.col-sm-6.padding-24
            li.flex.jc-sb
              h5 Client
              p.caption IBM, TD Ameritrade
            hr
            li.flex.jc-sb
              h5 Role
              p.caption Frontend developer, UX prototyper
            hr
            li.flex.jc-sb
              h5 Year
              p.caption 2017
    
    //- Hero img
    section.container-wrapper.padding-top64
      .container-fluid
        .row.row-no-gutters
          .col-sm-offset-3.col-sm-6
            img(src="/assets/img/home/havas.png" class="full")
    
    //- TD Ameritrade
    include components/content.pug
      block content
        h3 COLLABS
        p.padding-tb18 After TD Bank announed its re-brand which highlights a much modern and youthful tone-of-voice, Havas was tasked with designing a new brand expression guide book for the Omaha native. For this project, I paired up with a senior UI designer to brainstorm, design, and prototype highly interactive modules for TD's digital style guide, originally created in PDF format by 2 creative directors.The following is a compilation of multiple motion prototypes and interactive modules that were created for the pitch.
        div.vid
          video(loop="" autoplay="")
            source(src='assets/img/agency-td-color-exploration.mp4' type="video/mp4")
            Your browser does not support the video tag.
        div.vid
          video(loop="" autoplay="")
            source(src='assets/img/agency-tb-logo_ani.mp4' type="video/mp4")
            Your browser does not support the video tag.
        div.vid
          video(loop="" autoplay="")
            source(src='assets/img/agency-td-calibre.mp4' type="video/mp4")
            Your browser does not support the video tag.
        
    //- IBM
    include components/content.pug
      block content
        h3 IBM
        p.padding-tb18 2 months after graduation, I became part of the core team that developed IBM's <a href="https://www.ibm.com/industries/manufacturing/iot-in-industrial-sector-2017/#snapshot" class="text-link">IoT Whitepaper</a> experience. I assisted lead developers with animating many individual elements that make up this highly interactive experience: sound, load screen, sidebar, buttons, etc... I also took part in design reviews and helped the dev team consult UX/UI designers with designing motions and interactions that best fulfill the experience.
        div.vid
          video(loop="" autoplay="")
            source(src='assets/img/agency-ibm-1.mp4' type="video/mp4")
            Your browser does not support the video tag.
        div.vid
          video(loop="" autoplay="")
            source(src='assets/img/agency-ibm-2.mp4' type="video/mp4")
            Your browser does not support the video tag.
        
    //- Some background
    include components/content.pug
      block content
        h3 SOME BACKGROUND
        p.padding-tb18 I love animations. I learned to write my first few lines of JavaScript to animate something on my website back in 2015. I soon picked up different methods of on-screen animating such as CSS, JavaScript, and After Effects. Look where they got me!
