html
  head
    include components/head.pug
    title Syd by Design
  body
    //- Nav
    nav.flex.jc_sb
      a(href="index.html")
        .logo
          img(src="assets/img/logo.svg")
      ul.nav.flex
        li.nav-work-index Work
        a(href="about.html") 
          li.middle About
        a(href="https://www.dropbox.com/s/6lvri85xajbon05/sydneymai-resume.pdf?dl=0" target="_blank") 
           li Resume
    
    //- Hero
    section#hero
    
    //- Projects
    mixin project(h4, h1, href, filename, p)
      .container
        .row
          .col-md-3.info
            h4(class="smaller")= h4
            h1= h1
            a(href=href)
              button.smaller View Project
          .col-md-8
            img(src="assets/img/"+filename class="full")
        .blurb
          p(class="smaller")= p

    section#group-collabs.project       
      +project("SelfMade", "Group Collabs.", "group-collabs.html", "group-collabs.png", "Start, browse, and join a group collaboration with like-minded e-commerce brands.")
    
    section#connected-orgs.project       
      +project("Abacus", "Connected Orgs.", "connected-orgs.html", "connected-orgs.png", "To accommodate the startup’s growth,  I helped Abacus redesign its account management workflow.")
              
    section#export-builder.project
      +project("Abacus", "Export Builder.", "export-builder.html", "export-builder.png", "A CSV template creator that helps you export the exact data you want in the format you need.")
    
    section#policy-redesign.project
      +project("Abacus", "Policy Redesign.", "policy-redesign.html", "policy-redesign.png", "I helped Abacus redesign its Expense Policy page and rule creation flow.")
    
          
    section#agency.project
      +project("Havas", "Agency.", "agency.html", "agency.png", "While at Havas, I worked on code and design projects for IBM & TD Ameritrade.")
    
    
    include components/footer.pug
