html
  head
    include components/head.pug
    title Syd by Design
  body.background-color-mermaid
    //- Nav
    include components/navbar.pug
    //- Hero
    .container-wrapper.hero
      .container-fluid.padding-0
        .row.row-no-gutters
          .svg-text.padding-24
            <svg width="1027" height="110" viewBox="0 0 1027 110" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0)">
              <path d="M14.9586 100.508C7.03286 94.5887 2.23275 86.5481 0.669922 76.3857L18.9773 73.5938C20.4285 79.736 23.5542 84.4263 28.2426 87.8882C32.9311 91.3502 38.6243 93.0253 45.0988 93.0253C51.0153 93.0253 56.0386 91.6852 60.2806 89.005C64.5225 86.3248 66.6435 82.6395 66.6435 78.0608C66.6435 75.0456 65.7505 72.5888 63.8528 70.6903C61.955 68.7918 59.0526 67.1167 55.0339 65.8882L28.0194 58.071C21.4332 56.1725 15.8517 53.1573 11.3864 49.2486C6.92123 45.34 4.68862 39.3096 4.68862 31.1573C4.68862 24.6801 6.36307 19.0964 9.71199 14.5177C13.0609 9.82733 17.6377 6.3654 23.4425 4.02022C29.2473 1.67504 35.7219 0.558293 42.9779 0.669968C53.6944 0.781643 62.6248 3.46185 69.8808 8.82225C77.0251 14.1827 81.8253 21.6649 84.2811 31.269L65.4156 34.5075C64.2993 29.0355 61.5085 24.6801 57.1549 21.6649C52.8013 18.6497 47.778 17.0862 41.9732 17.0862C36.8382 17.0862 32.4846 18.3146 28.8008 20.7715C25.117 23.2283 23.3309 26.3552 23.3309 30.2639C23.3309 33.7258 24.6705 36.406 27.4612 38.1928C30.252 39.9796 33.8242 41.5431 38.401 42.8832L56.9317 48.0202C62.0667 49.472 66.5319 51.1471 70.3273 52.9339C74.1228 54.7207 77.4717 57.5126 80.4857 61.4212C83.4997 65.3299 84.9509 70.4669 84.9509 76.8324C84.9509 83.7563 83.0532 89.7867 79.2578 94.7004C75.4623 99.6141 70.5506 103.299 64.2993 105.756C58.1596 108.213 51.3501 109.442 43.9825 109.442C32.4846 109.442 22.7727 106.426 14.9586 100.508Z" fill="#D80867" stroke="#D80867" stroke-miterlimit="10"/>
              <path d="M121.677 64.4365L86.0674 2.68018H106.496L130.385 44.335L154.385 2.68018H174.814L139.203 64.3248V107.208H121.677V64.4365Z" fill="#D80867" stroke="#D80867" stroke-miterlimit="10"/>
              <path d="M218.349 2.68018C223.707 2.68018 227.949 2.90353 231.075 3.23855C239.224 4.24363 246.145 7.03551 251.95 11.8375C257.754 16.6396 262.108 22.7817 265.122 30.1523C268.136 37.6345 269.587 45.7868 269.587 54.8325C269.587 63.8781 268.136 72.0304 265.122 79.5127C262.108 86.9949 257.754 93.0254 251.95 97.8274C246.145 102.518 239.224 105.421 231.075 106.538C227.837 106.873 223.596 107.096 218.349 107.096H185.083V2.68018H218.349ZM229.958 90.0101C236.88 88.67 242.238 84.7614 245.81 78.1726C249.382 71.5837 251.168 63.8781 251.168 55.0558C251.168 46.0101 249.382 38.3045 245.81 31.8274C242.238 25.3502 236.991 21.4416 229.958 20.1015C227.614 19.6548 223.819 19.4314 218.349 19.4314H202.944V90.9035H218.349C223.707 90.6802 227.614 90.4568 229.958 90.0101Z" fill="#D80867" stroke="#D80867" stroke-miterlimit="10"/>
              <path d="M388.809 61.6446C391.488 65.8883 392.828 70.6903 392.828 76.1624C392.828 85.6548 390.149 93.2487 384.679 98.8325C379.209 104.416 371.506 107.208 361.46 107.208H315.803V2.68018H357.218C363.915 2.68018 369.609 4.02028 374.185 6.81216C378.874 9.60403 382.334 13.1776 384.567 17.533C386.8 21.8883 388.028 26.5787 388.028 31.4924C388.028 36.1827 387.135 40.4264 385.237 43.8883C383.339 47.4619 380.772 50.2538 377.423 52.2639C382.334 54.2741 386.13 57.401 388.809 61.6446ZM333.44 44.4467H356.994C361.013 44.4467 364.139 43.3299 366.595 41.2081C369.05 38.9746 370.167 35.9594 370.167 31.8274C370.167 28.1421 368.939 25.1269 366.595 22.7817C364.25 20.4365 361.013 19.2081 356.994 19.2081H333.44V44.4467ZM370.613 86.5482C373.516 83.7563 375.078 80.1827 375.078 75.604C375.078 71.2487 373.739 67.6751 370.948 64.8832C368.157 62.0913 364.474 60.7512 359.674 60.7512H333.44V90.6802H359.227C363.915 90.6802 367.711 89.3401 370.613 86.5482Z" stroke="#D80867" stroke-miterlimit="10"/>
              <path d="M428.326 64.4365L392.716 2.68018H413.144L437.145 44.335L461.145 2.68018H481.574L446.075 64.3248V107.208H428.326V64.4365V64.4365Z" stroke="#D80867" stroke-miterlimit="10"/>
              <path d="M548.217 2.68018C553.575 2.68018 557.817 2.90353 560.943 3.23855C569.092 4.24363 576.013 7.03551 581.818 11.8375C587.623 16.6396 591.976 22.7817 594.99 30.1523C598.004 37.6345 599.455 45.7868 599.455 54.8325C599.455 63.8781 598.004 72.0304 594.99 79.5127C591.976 86.9949 587.623 93.0254 581.818 97.8274C576.013 102.518 569.092 105.421 560.943 106.538C557.706 106.873 553.464 107.096 548.217 107.096H514.951V2.68018H548.217ZM559.827 90.0101C566.748 88.67 572.106 84.7614 575.678 78.1726C579.25 71.5837 581.036 63.8781 581.036 55.0558C581.036 46.0101 579.25 38.3045 575.678 31.8274C572.106 25.3502 566.859 21.4416 559.827 20.1015C557.482 19.6548 553.687 19.4314 548.217 19.4314H532.812V90.9035H548.217C553.575 90.6802 557.482 90.4568 559.827 90.0101Z" stroke="#D80867" stroke-miterlimit="10"/>
              <path d="M616.535 2.68018H684.072V19.0964H634.061V44.8934H675.364V61.1979H634.061V90.7919H684.072V107.208H616.535V2.68018Z" stroke="#D80867" stroke-miterlimit="10"/>
              <path d="M710.081 100.508C702.155 94.5887 697.466 86.5481 695.792 76.3857L714.099 73.5938C715.551 79.736 718.676 84.4263 723.365 87.8882C728.053 91.3502 733.746 93.0253 740.221 93.0253C746.137 93.0253 751.161 91.6852 755.514 89.005C759.756 86.3248 761.877 82.6395 761.877 78.0608C761.877 75.0456 760.984 72.5888 759.086 70.6903C757.189 68.7918 754.286 67.1167 750.268 65.8882L723.253 58.071C716.667 56.1725 711.085 53.1573 706.62 49.2486C702.155 45.34 699.922 39.3096 699.922 31.1573C699.922 24.6801 701.597 19.0964 704.946 14.5177C708.295 9.82733 712.871 6.3654 718.676 4.02022C724.481 1.67504 731.067 0.558293 738.323 0.669968C749.04 0.781643 757.97 3.46185 765.115 8.82225C772.259 14.1827 777.059 21.6649 779.515 31.269L760.649 34.5075C759.533 29.0355 756.742 24.6801 752.389 21.6649C748.035 18.6497 742.9 17.0862 737.207 17.0862C732.072 17.0862 727.718 18.3146 724.034 20.7715C720.351 23.2283 718.565 26.3552 718.565 30.2639C718.565 33.7258 719.904 36.406 722.695 38.1928C725.486 39.9796 729.058 41.5431 733.635 42.8832L752.389 47.9086C757.524 49.3603 761.989 51.0355 765.784 52.8223C769.58 54.6091 772.929 57.4009 775.943 61.3096C778.957 65.2182 780.408 70.3552 780.408 76.7207C780.408 83.6446 778.51 89.675 774.715 94.5887C770.919 99.5025 766.008 103.188 759.756 105.645C753.617 108.101 746.807 109.33 739.44 109.33C727.607 109.442 717.895 106.426 710.081 100.508Z" stroke="#D80867" stroke-miterlimit="10"/>
              <path d="M797.153 2.68018H814.568V107.208H797.153V2.68018Z" stroke="#D80867" stroke-miterlimit="10"/>
              <path d="M854.642 102.964C847.275 98.6091 841.358 92.467 837.116 84.203C832.763 76.0507 830.642 66.2233 830.642 54.9441C830.642 43.7766 832.763 34.1726 837.005 25.9086C841.247 17.6446 847.051 11.3908 854.531 7.03551C862.01 2.68018 870.382 0.55835 879.647 0.55835C892.262 0.55835 902.308 3.4619 910.011 9.38068C917.602 15.1878 922.848 23.6751 925.528 34.7309L907.667 37.5228C905.657 31.269 902.308 26.2436 897.843 22.67C893.266 19.0964 887.685 17.1979 880.875 17.1979C870.605 17.0863 862.791 20.4365 857.433 27.2487C852.075 34.0609 849.396 43.3299 849.396 55.1675C849.284 67.005 851.963 76.2741 857.545 82.9746C863.014 89.6751 871.052 93.0254 881.657 93.0254C889.359 93.0254 895.611 90.7918 900.411 86.3248C905.211 81.8578 908.225 75.1573 909.453 66.335H890.81V52.3756H927.872L928.207 58.6294C928.207 68.4568 926.197 77.2792 922.29 84.8731C918.383 92.467 912.69 98.4974 905.434 102.853C898.066 107.208 889.471 109.33 879.647 109.33C870.27 109.442 862.01 107.32 854.642 102.964Z" stroke="#D80867" stroke-miterlimit="10"/>
              <path d="M942.607 2.68018H960.357L1008.8 76.2741V2.68018H1026.55V107.208H1008.8L960.357 33.5025V107.208H942.607V2.68018Z" stroke="#D80867" stroke-miterlimit="10"/>
              </g>
              <defs>
              <clipPath id="clip0">
              <rect width="1027" height="110" fill="white"/>
              </clipPath>
              </defs>
            </svg>
          p.col-md-6.padding-24 Sydney Anh Mai is a product designer, creative coder, feline advocate, Kpop aficionado, and 90’s baby based in Brooklyn, New York.
    //- ADD-ON
    .container-wrapper.border-top.border-bottom
      .container-fluid.project.padding-0
        .row.row-no-gutters
          .col-lg-8.col-md-7.name
            .flex.jc-sb
              h2 KICK
                span.line-break STARTER
              <svg class="arrow" width="90" height="90" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M40.9296 32.4336L20.0646 53.2986L14.5837 47.8177L35.4487 26.9527L36.3025 26.0989L35.095 26.0992L17.4706 26.1026L17.4706 17.4706L50.4117 17.4706V50.4117L41.7796 50.4117L41.7831 32.7873L41.7834 31.5798L40.9296 32.4336Z" stroke="#D80867"/>
              </svg>
            h3 Add-ons
            p Create and pledge for optional “add-on” rewards
            a(href="add-on").stretched-link
          ul.col-lg-3.col-md-4.info.border-left.no-border-mobile-left
            li.flex.jc-sb
              h5 PRODUCT
              p.caption Crowdfunding platform
            hr
            li.flex.jc-sb
              h5 ROLE
              p.caption Lead product designer
            hr
            li.flex.jc-sb
              h5 YEAR
              p.caption 2020-201
            hr
            li.flex.jc-sb
              h5 PRESS
              p.caption <a href="https://www.theverge.com/2020/9/22/21450677/kickstarter-creators-add-on-rewards" target="_blank">The Verge</a>, <a href="https://www.designweek.co.uk/issues/30-november-6-december-2020/more-science-than-art-exploring-ux-design-practice/" target="_blank">Design Week UK</a>
    //- Hero img
    .container-wrapper
      .container-fluid.project-hero
        .row.row-no-gutters
          .col-sm-offset-2.col-sm-8
            img(src="/assets/img/home/add-on-hero.png").full
            a(href="add-on").stretched-link
    //- Collabs
    .container-wrapper.border-top.border-bottom
      .container-fluid.project.padding-0
        .row.row-no-gutters
          .col-lg-8.col-md-7.name
            .flex.jc-sb
              h2 SELF
                span.line-break MADE
              <svg class="arrow" width="90" height="90" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M40.9296 32.4336L20.0646 53.2986L14.5837 47.8177L35.4487 26.9527L36.3025 26.0989L35.095 26.0992L17.4706 26.1026L17.4706 17.4706L50.4117 17.4706V50.4117L41.7796 50.4117L41.7831 32.7873L41.7834 31.5798L40.9296 32.4336Z" stroke="#D80867"/>
              </svg>
            h3 Collabs
            p Find and collaborate with like-minded e-commerce brands
            a(href="collabs").stretched-link
          ul.col-lg-3.col-md-4.info.border-left.no-border-mobile-left
            li.flex.jc-sb
              h5 PRODUCT
              p.caption Marketing tool
            hr
            li.flex.jc-sb
              h5 ROLE
              p.caption Product designer
            hr
            li.flex.jc-sb
              h5 YEAR
              p.caption 2019
            hr
            li.flex.jc-sb
              h5 AWARDS
              p.caption <a href="https://www.indigoawards.com/winners/2795" target="_blank">Indigo Design Awards</a>
    //- Hero img
    .container-wrapper
      .container-fluid.project-hero
        .row.row-no-gutters
          .col-sm-offset-1.col-sm-9
            img(src="/assets/img/home/collabs-hero.png").full
            a(href="collabs").stretched-link
    //- Export builder
    .container-wrapper.border-top.border-bottom
      .container-fluid.project.padding-0
        .row.row-no-gutters
          .col-lg-8.col-md-7.name.border-right.no-border-mobile-right
            .flex.jc-sb
              h2 ABACUS
              <svg class="arrow" width="90" height="90" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M40.9296 32.4336L20.0646 53.2986L14.5837 47.8177L35.4487 26.9527L36.3025 26.0989L35.095 26.0992L17.4706 26.1026L17.4706 17.4706L50.4117 17.4706V50.4117L41.7796 50.4117L41.7831 32.7873L41.7834 31.5798L40.9296 32.4336Z" stroke="#D80867"/>
              </svg>
            h3 Export Builder
            p Export the exact data you want in the format you need
            a(href="export-builder").stretched-link
          ul.col-lg-3.col-md-4.info
            li.flex.jc-sb
              h5 PRODUCT
              p Reimbursement software
            hr
            li.flex.jc-sb
              h5 ROLE
              p Product designer
            hr
            li.flex.jc-sb
              h5 YEAR
              p 2018–2019
    //- Hero img
    .container-wrapper
      .container-fluid.project-hero
        .row.row-no-gutters
          .col-sm-offset-1.col-sm-9
            img(src="/assets/img/home/export-builder-hero.png").full
            a(href="export-builder").stretched-link
    //- Expense policy page
    .container-wrapper.border-top.border-bottom
      .container-fluid.project.padding-0
        .row.row-no-gutters
          .col-lg-8.col-md-7.name.border-right.no-border-mobile-right
            .flex.jc-sb
              h2 ABACUS
              <svg class="arrow" width="90" height="90" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M40.9296 32.4336L20.0646 53.2986L14.5837 47.8177L35.4487 26.9527L36.3025 26.0989L35.095 26.0992L17.4706 26.1026L17.4706 17.4706L50.4117 17.4706V50.4117L41.7796 50.4117L41.7831 32.7873L41.7834 31.5798L40.9296 32.4336Z" stroke="#D80867"/>
              </svg>
            h3 Expense Policy Page
            p Set up rules and pre-screen expense-submission with the expense policy generator
            a(href="expense-policy").stretched-link
          ul.col-lg-3.col-md-4.info
            li.flex.jc-sb
              h5 PRODUCT
              p Reimbursement software
            hr
            li.flex.jc-sb
              h5 ROLE
              p Product designer
            hr
            li.flex.jc-sb
              h5 YEAR
              p 2018–2019
    //- Hero img
    .container-wrapper
      .container-fluid.project-hero
        .row.row-no-gutters
          .col-sm-offset-1.col-sm-9
            img(src="/assets/img/home/expense-policy-hero.png").full
            a(href="expense-policy").stretched-link
    //- Havas
    .container-wrapper.border-top.border-bottom
      .container-fluid.project.padding-0
        .row.row-no-gutters
          .col-lg-8.col-md-7.name.border-right.no-border-mobile-right
            .flex.jc-sb
              h2 HAVAS
              <svg class="arrow" width="90" height="90" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M40.9296 32.4336L20.0646 53.2986L14.5837 47.8177L35.4487 26.9527L36.3025 26.0989L35.095 26.0992L17.4706 26.1026L17.4706 17.4706L50.4117 17.4706V50.4117L41.7796 50.4117L41.7831 32.7873L41.7834 31.5798L40.9296 32.4336Z" stroke="#D80867"/>
              </svg>
            p Believe it or not, I once coded better than I designed (don’t check my portfolio's source code)
            a(href="havas").stretched-link
          ul.col-lg-3.col-md-4.info
            li.flex.jc-sb
              h5 CLIENTS
              p IBM, TD Ameritrade
            hr
            li.flex.jc-sb
              h5 ROLE
              p.text-align-right Frontend developer, UX prototyper
            hr
            li.flex.jc-sb
              h5 YEAR
              p 2017
    //- Hero img
    .container-wrapper
      .container-fluid.project-hero
        .row.row-no-gutters
          .col-sm-offset-3.col-sm-6
            img(src="/assets/img/home/havas.png").full
            a(href="havas").stretched-link
    //- Footer
    include components/footer.pug
    //- Contact
    include components/contact.pug



  
    
