html
  head
    include components/head.pug
    title SelfMade
  body
    //- Nav
    include components/navbar.pug
    +nav-desktop("index.html")
    +nav-mobile("index.html")
    
    //- Info
    section#project-header.container-wrapper
      .container-fluid.full-height
        .row.row-no-gutters
          .col-sm-6.padding-24
            h1 SELFMADE
            p Find and collaborate with like-minded small e-commerce brands.
          ul.info.col-sm-6.padding-24
            li.flex.jc-sb
              h5 Product
              p.caption Marketing tool
            hr
            li.flex.jc-sb
              h5 Role
              p.caption Product designer
            hr
            li.flex.jc-sb
              h5 Year
              p.caption 2019
    
    //- Hero img
    section.container-wrapper.padding-top64
      .container-fluid
        .row.row-no-gutters
          .col-sm-offset-3.col-sm-6
            img(src="assets/img/home/selfmade.png" class="full")
    
    //- Collabs
    include components/content.pug
      block content
        h3 COLLABS
        p.padding-tb18 It is hard to stand out in today’s market. Collaboration is a low-cost, creative marketing technique for brands to cross-pollinate customers and broaden their audience reach. The SelfMade team created Collabs, a free platform for small e-commerce brands to find, connect, and collaborate with one another though Instagram Giveaway, Joint Email Campaign, Pop-up Shop, etc.
        a(href="https://www.indigoawards.com/winners/2795" target="_blank")
          button View the award-winning entry
        img.full(src="assets/img/selfmade/1.png")
        img.padding-top18.full(src="assets/img/selfmade/2.png")
        
    //- Monthly recap
    include components/content.pug
      block content
        h3 MONTHLY RECAP
        p.padding-tb18 I led design for Monthly Recap, a reporting feature that shows our marketing partners how their Facebook ads, emails, and Instagram posts perform every month.
        a(href="monthly-recap.html")
          button View case study
        img.padding-tb18.full(src="assets/img/selfmade/1.png")
        img.full(src="assets/img/selfmade/2.png")
    
    //- Message
    include components/content.pug
      block content
        h3 MESSAGE
        p.padding-tb18 I designed the messaging feature on Collabs, which enables brands to communicate pre-collab.
        img.full(src="assets/img/selfmade/message-chat-screen.png")
        img.padding-top18.full(src="assets/img/selfmade/message-userflow.png")
    
    //- Mobile filters
    include components/content.pug
      block content
        h3 MESSAGE
        p.padding-tb18 Collabs is a fully responsive web app. One of the first projects I worked on was redesigning the search and filter functionality on mobile.
        img.full(src="assets/img/selfmade/mobile-filters.png")
