section.contact.container-wrapper.border-top
    .container-fluid.content.padding-tb30-tablet
        a(href="sydneyanhmai_resume.pdf" target="_blank")
            p.text-link.text-pink RESUME
        a(href="https://www.linkedin.com/in/sydneymai/" target="_blank")
            p.text-link.text-pink LINKEDIN
        a(href="https://www.behance.net/sydneymai" target="_blank")
            p.text-link.text-pink BEHANCE
        ul.flex.jc-sb.ai-bottom.desk-only.padding-top30
            li
                p.text-pink SYDNEYMAI@NYU.EDU
            li
                p.text-pink DESIGNED & DEVELOPED BY SYD BY DESIGN 2021
            li
                a(href="#") 
                    p.text-link.text-pink BACK TO TOP
        ul.mobile-only.padding-top18
            li.padding-bottom18-mobile
                p.text-pink SYDNEYMAI@NYU.EDU
            li.padding-bottom18-mobile
                p.text-pink DESIGNED & DEVELOPED BY SYD BY DESIGN 2021
            li.padding-bottom18-mobile
                a(href="#") 
                    p.text-link.text-pink BACK TO TOP
        h1.statement-text GET 
            span.statement-text-with-fill 
                span.line-break IN 
                span.line-break TOUCH
