section.container-wrapper.margin-top48.border-top
    .container-fluid
        .row.row-no-gutters.padding-top30
            .col-md-offset-2.col-md-8.col-sm-12.padding-0
                block content