footer#footer
  .container
    .links
      a(href="/") Home
      a(href="monthly-recap") Monthly Recap
      a(href="policy-redesign") Policy Redesign
      a(href="group-collabs") Group Collabs
      a(href="export-builder") Export Builder
      a(href="design-at-abacus") Design at Abacus
      a(href="connected-orgs") Connected Orgs
      a(href="design-at-selfmade") Design at SelfMade
      a(href="agency") Agency (Havas)
      a(href="highcut") HighCUT
    p.copyright © 2020 Sydney Mai. All rights reserved.

script(src='././js/libs/jquery-1.10.2.min.js')
script(src='././js/script.js')
