<main class="container-wrapper border-top">
  <nav class="menu">
    <h5 style="padding-left: 2vw"> ALL PROJECTS</h5>

    //- ADD-ON
    <h3 style="padding-left: 2vw" class="padding-top30"> KICKSTARTER</h3>
    <div class="menu__item">
      <a href="add-on" class="menu__item-link case">Add-on</a>
      <img class="menu__item-img" src="/assets/img/home/add-on-hero.png" alt="Add-on hero image"/>
      <div class="marquee">
        <div class="marquee__inner" aria-hidden="true">
          <span>Add-on</span>
          <span>Add-on</span>
          <span>Add-on</span>
          <span>Add-on</span>
        </div>
      </div>
    </div>

    //- PROJECT???
    <div class="menu__item">
      <a href="private/private.html" class="menu__item-link case">Project???</a>
      <img class="menu__item-img" src="/assets/img/home/password-required.png" alt="Project??? hero image"/>
      <div class="marquee">
        <div class="marquee__inner" aria-hidden="true">
          <span>Project???</span>
          <span>Project???</span>
          <span>Project???</span>
          <span>Project???</span>
        </div>
      </div>
    </div>

    //- COLLABS
    <h3 style="padding-left: 2vw" class="padding-top30"> SELFMADE</h3>
    <div class="menu__item">
      <a href="collabs" class="menu__item-link case">Collabs</a>
      <img class="menu__item-img" src="/assets/img/home/collabs-hero.png" alt="Collabs hero image"/>
      <div class="marquee">
        <div class="marquee__inner" aria-hidden="true">
          <span>Collabs</span>
          <span>Collabs</span>
          <span>Collabs</span>
          <span>Collabs</span>
        </div>
      </div>
    </div>

    //- EXPORT BUILDER
    <h3 style="padding-left: 2vw" class="padding-top30"> ABACUS</h3>
    <div class="menu__item">
      <a href="export-builder" class="menu__item-link case">Export builder</a>
      <img class="menu__item-img" src="/assets/img/home/export-builder-hero.png" alt="Export builder hero image"/>
      <div class="marquee">
        <div class="marquee__inner" aria-hidden="true">
          <span>Export builder</span>
          <span>Export builder</span>
          <span>Export builder</span>
          <span>Export builder</span>
        </div>
      </div>
    </div>

    //- EXPENSE POLICY
    <div class="menu__item">
      <a href="expense-policy" class="menu__item-link case">Expense policy</a>
      <img class="menu__item-img" src="/assets/img/home/expense-policy-hero.png" alt="Expense policy hero image"/>
      <div class="marquee">
        <div class="marquee__inner" aria-hidden="true">
          <span>Expense policy</span>
          <span>Expense policy</span>
          <span>Expense policy</span>
          <span>Expense policy</span>
        </div>
      </div>
    </div>

    //- Havas
    <h3 style="padding-left: 2vw" class="padding-top30"> HAVAS</h3>
    <div class="menu__item">
      <a href="havas" class="menu__item-link">Havas</a>
      <img class="menu__item-img" src="/assets/img/home/havas.png" alt="Havas hero image"/>
      <div class="marquee">
        <div class="marquee__inner" aria-hidden="true">
          <span>Havas</span>
          <span>Havas</span>
          <span>Havas</span>
          <span>Havas</span>
        </div>
      </div>
    </div>
  </nav>
</main>

