footer#footer
  .container
    .links
      a(href="index.html") Home
      a(href="group-collabs.html") Group Collabs
      a(href="connected-orgs.html") Connected Orgs
      a(href="export-builder.html") Export Builder
      a(href="policy-redesign.html") Policy Redesign
      a(href="agency.html") Agency(Havas)
      //- a(href="#") Design at Abacus
      a(href="highcut.html") HighCUT
    p.copyright © 2019 Sydney Mai. All rights reserved.

script(src='././js/libs/jquery-1.10.2.min.js')
script(src='././js/script.js')
