<main class="container-wrapper border-top">
  <nav class="menu">
    <h5 style="padding-left: 2vw"> ALL PROJECTS</h5>

    //- SelfMade
    <div class="menu__item">
      <a href="selfmade.html" class="menu__item-link">SelfMade</a>
      <img class="menu__item-img" src="/assets/img/home/selfmade.png" alt="Some image"/>
      <div class="marquee">
        <div class="marquee__inner" aria-hidden="true">
          <span>SelfMade</span>
          <span>SelfMade</span>
          <span>SelfMade</span>
          <span>SelfMade</span>
        </div>
      </div>
    </div>

    //- CASE: Monthly recap
    <div class="menu__item">
      <a href="monthly-recap.html" class="menu__item-link case">Monthly recap</a>
      <img class="menu__item-img" src="/assets/img/selfmade/monthly-recap-footer.png" alt="Some image"/>
      <div class="marquee case">
        <div class="marquee__inner" aria-hidden="true">
          <span>Monthly recap</span>
          <span>Monthly recap</span>
          <span>Monthly recap</span>
          <span>Monthly recap</span>
        </div>
      </div>
    </div>

    //- Abacus
    <div class="menu__item">
      <a href="abacus.html" class="menu__item-link">Abacus</a>
      <img class="menu__item-img" src="/assets/img/home/abacus.png" alt="Some image"/>
      <div class="marquee">
        <div class="marquee__inner" aria-hidden="true">
          <span>Abacus</span>
          <span>Abacus</span>
          <span>Abacus</span>
          <span>Abacus</span>
        </div>
      </div>
    </div>

    //- CASE: Expense policy
    <div class="menu__item">
      <a href="expense-policy.html" class="menu__item-link case">Expense policy</a>
      <img class="menu__item-img" src="/assets/img/abacus/expense-policy.png" alt="Some image"/>
      <div class="marquee case">
        <div class="marquee__inner" aria-hidden="true">
          <span>Expense policy</span>
          <span>Expense policy</span>
          <span>Expense policy</span>
          <span>Expense policy</span>
        </div>
      </div>
    </div>

    //- CASE: Export builder
    <div class="menu__item">
      <a href="export-builder.html" class="menu__item-link case">Export builder</a>
      <img class="menu__item-img" src="/assets/img/abacus/export-builder.png" alt="Some image"/>
      <div class="marquee case">
        <div class="marquee__inner" aria-hidden="true">
          <span>Export builder</span>
          <span>Export builder</span>
          <span>Export builder</span>
          <span>Export builder</span>
        </div>
      </div>
    </div>

    //- Havas
    <div class="menu__item">
      <a href="havas.html" class="menu__item-link">Havas</a>
      <img class="menu__item-img" src="/assets/img/home/havas.png" alt="Some image"/>
      <div class="marquee">
        <div class="marquee__inner" aria-hidden="true">
          <span>Havas</span>
          <span>Havas</span>
          <span>Havas</span>
          <span>Havas</span>
        </div>
      </div>
    </div>
  </nav>
</main>

