footer
  .container
    .links
      a(href="connected-orgs.html") Connected Orgs
      a(href="export-builder.html") Export Builder
      a(href="policy-redesign.html") Policy Redesign
      a(href="agency.html") Agency(Havas)
      a(href="#") Design at Abacus
      a(href="#") HighCUT
      a(href="#") NYU Albert
    p.copyright © 2019 Sydney Mai. All rights reserved.
