nav.flex.jc_sb
  a(href="index.html")
    .logo
      img(src="assets/img/logo.svg")
  ul.nav.flex 
    a(href="#") 
      li About
    a(href="#connected-orgs")
      li.middle Work
    a(href="https://sass-lang.com/") 
       li Resume
