//Desktop nav
mixin nav-desktop(href)
  nav.desk-only
    ul
      a(href="index.html")
        li.flex.jc-center.ai-center.border-all 
          h5.text-link.smaller Work
      a(href=href)
        li.flex.jc-center.ai-center.home.border-all.no-border-bottom.no-border-top
          if block
            block
          else
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16.6893 22.3107L9.7459 15.3701L26 15.3701V10.6299L9.7459 10.6299L16.6893 3.68926L13 0L0 13L13 26L16.6893 22.3107Z" fill="#2150BA"/>
            </svg>
      a(href="about.html")
        li.flex.jc_center.ai-center.border-all
          h5.text-link.smaller About

//Mobile nav
mixin nav-mobile(href)
  nav.mobile-only.flex
    .nav-item.flex.jc-center.ai-center.border-all
      h5.text-link Work
      a(href="index.html").stretched-link
    .nav-item.home.flex.jc-center.ai-center.border-all.no-border-left.no-border-right
      if block
        block
      else
        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16.6893 22.3107L9.7459 15.3701L26 15.3701V10.6299L9.7459 10.6299L16.6893 3.68926L13 0L0 13L13 26L16.6893 22.3107Z" fill="#2150BA"/>
        </svg>
      a(href=href).stretched-link
    .nav-item.flex.jc-center.ai-center.border-all
      h5.text-link About
      a(href="about.html").stretched-link