//Desktop nav
nav.desk-only
  ul
    a(href="about")
      li.flex.jc-center.ai-center.border-right
        h5.smaller ABOUT
    a(href="/")
      li.flex.jc-center.ai-center.home.border-all.no-border-left
        <svg class="protractor" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M5.86585 5.90078L0.367188 0.391357V31.7513H31.6659L26.1675 26.2422L24.7178 27.6955C24.4508 27.9631 24.0177 27.9631 23.7509 27.6955C23.4839 27.4282 23.4839 26.9945 23.7507 26.727L25.2006 25.2737L22.3004 22.3678L20.8507 23.8208C20.5837 24.0884 20.1508 24.0884 19.8838 23.8211C19.6168 23.5536 19.6168 23.1199 19.8838 22.8523L21.3338 21.399L18.4336 18.4934L16.9833 19.9462C16.7163 20.2137 16.2837 20.2137 16.0167 19.9462C15.7497 19.6786 15.7497 19.2449 16.0167 18.9776L17.4667 17.5246L14.5665 14.6184L13.1162 16.0715C12.8492 16.339 12.4166 16.339 12.1496 16.0715C11.8826 15.8039 11.8826 15.3702 12.1496 15.1029L13.5996 13.6499L10.6996 10.744L9.24911 12.1968C8.98208 12.4646 8.54896 12.4641 8.2822 12.1968C8.01544 11.9293 8.01544 11.4956 8.28247 11.228L9.7327 9.77546L6.8325 6.86932L5.382 8.32212C5.11497 8.58994 4.68184 8.58941 4.41535 8.32212C4.14832 8.05457 4.14832 7.62087 4.41535 7.35332L5.86585 5.90078ZM17.0431 26.3607H6.46771V15.5L17.0431 26.3607Z" fill="#D80867"/>
        </svg>
    a(href="sydneyanhmai_resume.pdf" target="_blank")
      li.flex.jc_center.ai-center.border-right
        h5.smaller RESUME

//Mobile nav
nav.mobile-only.flex
  .nav-item.flex.jc-center.ai-center.border-bottom
    h5 ABOUT
    a(href="about").stretched-link
  .nav-item.home.flex.jc-center.ai-center.border-all.no-border-top
    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.86585 5.90078L0.367188 0.391357V31.7513H31.6659L26.1675 26.2422L24.7178 27.6955C24.4508 27.9631 24.0177 27.9631 23.7509 27.6955C23.4839 27.4282 23.4839 26.9945 23.7507 26.727L25.2006 25.2737L22.3004 22.3678L20.8507 23.8208C20.5837 24.0884 20.1508 24.0884 19.8838 23.8211C19.6168 23.5536 19.6168 23.1199 19.8838 22.8523L21.3338 21.399L18.4336 18.4934L16.9833 19.9462C16.7163 20.2137 16.2837 20.2137 16.0167 19.9462C15.7497 19.6786 15.7497 19.2449 16.0167 18.9776L17.4667 17.5246L14.5665 14.6184L13.1162 16.0715C12.8492 16.339 12.4166 16.339 12.1496 16.0715C11.8826 15.8039 11.8826 15.3702 12.1496 15.1029L13.5996 13.6499L10.6996 10.744L9.24911 12.1968C8.98208 12.4646 8.54896 12.4641 8.2822 12.1968C8.01544 11.9293 8.01544 11.4956 8.28247 11.228L9.7327 9.77546L6.8325 6.86932L5.382 8.32212C5.11497 8.58994 4.68184 8.58941 4.41535 8.32212C4.14832 8.05457 4.14832 7.62087 4.41535 7.35332L5.86585 5.90078ZM17.0431 26.3607H6.46771V15.5L17.0431 26.3607Z" fill="#D80867"/>
    </svg>
    a(href="/").stretched-link
  .nav-item.flex.jc-center.ai-center.border-bottom
    h5 RESUME
    a(href="sydneyanhmai_resume.pdf" target="_blank").stretched-link