// BIG fonts
h1, h2, h3, h4, h5, p, li, button, span, a {
  margin: 0
}
h1 {
  font-family: 'Manrope Extrabold', Helvetica, sans-serif;
  font-size: 4.5rem;
  color: $china-blue;
}
h2 {
  font-family: 'Manrope Extrabold', Helvetica, sans-serif;
  font-size: 4rem;
  color: $china-blue;
}
h3 {
  font-family: 'Manrope Extrabold', Helvetica, sans-serif;
  font-size: 2rem;
  color: $china-blue;
  text-transform: uppercase;
}

// SMALL fonts
h5, p, ul, ol, li, button, span, a {
  font-family: 'Manrope Regular', Helvetica, sans-serif;
  word-spacing: .05rem;
  font-size: 1.125rem;
  line-height: 1.875rem;
}
h5, button {
  color: $china-blue;
  font-family: 'Manrope Bold', Helvetica, sans-serif;
}
h5 {text-transform: uppercase;}

// bold
span.bold {
  font-family: 'Manrope Bold', Helvetica, sans-serif;
}

// link
a {
  text-decoration: none;
  color: $china-blue;
  &:visited {color: $china-blue;}
  // &:hover {color: $china-blue; text-decoration: underline;}
}


// button
button {
  background: none;
  border: 1px solid $china-blue;
  padding: 14px 24px;
  border-radius: 1px;
  outline: none;
  &:hover {
    background-color: $china-blue;
    color: $white;
    cursor: pointer
  }
}

//hr
hr {
  border-top: 1px solid $china-blue
}



// video
.vid {
  margin-top: 32px;
  margin-bottom: 56px;
  video {
    width: 100%;
    height: auto;
  }
}

// lists
ul {
  list-style-type: none;
  padding: 0;
  margin: 0
}

// hardbreak
span.hardbreak {display: block;}

.blockquote {
  &::before{
    content: "\201C";
    position: relative;
    left:-.8%;
    margin-left: -1.5%;
  }
  &::after{
    content: "\201D";
  }
}

//flex
.flex {
  display: flex;
  flex-direction: row;
  // flex-wrap: nowrap;
  &-col {flex-direction: column;}
}
.jc {
  &-center {justify-content: center;}
  &-sb {justify-content: space-between;}
  &-flexstart {justify-content: flex-start;}
}
.ai {
  &-baseline {align-items: baseline;}
  &-center {align-items: center;}
}

//make col- full height
.full-height {
  @media (min-width: $screen-tablet + 1) {
    height: 100%;
  }
}

// make img stretch
img.full {
  width: 100%
}
.svg-text svg {width: 100%; height: auto;}

// clear float
.clear {clear:both}

// bullets
ul.bullets {
  li {
    &:not(:last-child) {margin-bottom: 12px;}
    span.count {
      padding-right: 8px;
      font-family: 'Manrope Regular', Helvetica, sans-serif;
    }
    span.bullet div {
      width: 7px;
      height: 7px;
      background-color: $black;
      margin-right: 10px;
      border-radius: 50%;
    }
  }
}

.desk-only {
  @media (min-width: $screen-tablet + 1) {
    visibility: visible;
  }
  @include break($screen-tablet) {
    display: none !important;
  };
}

.mobile-only {
  @media (min-width: $screen-tablet+ 1) {
    display: none !important;
  }
  @include break($screen-tablet) {
    visibility: visible;
  };
}
