// font
h1, h2, h3, h4 {
  font-weight: 300;
  margin: 0
}
h1 {
  font-family: 'Freight Big Bold', serif;
  font-size: 4.5rem;
}
h2 {
  font-family: 'Freight Big Bold', sans-serif;
}
h3 {
  font-family: 'Neue Hass Grotesk Bold', sans-serif;
  color: $black;
  font-size: 2rem;
}


// small fonts
h4, h5, p, li, button, a {
  font-family: 'Neue Hass Grotesk', sans-serif;
  color: $black;
  margin: 0;
  letter-spacing: .05rem;
  font-size: 1.125rem;
  line-height: 30px;
  &.smaller {
    font-size: 1rem;
    line-height: 24px;
  }
  &.bigger {
    font-size: 1.5rem;
    letter-spacing: .06rem;
    line-height: 36px;
  }
  &.biggest {
    font-size: 1.75rem;
    letter-spacing: .06rem;
    line-height: 42px;
  }
}
h5 {
  color: $red;
  padding-bottom: 12px
}

// link
a {
  text-decoration: none;
  &.text-link {
    color: $blue;
    &:hover {font-family: 'Neue Hass Grotesk Bold', sans-serif; ;}
  }
}


// button
button {
  background: none;
  border: 1px solid $black;
  padding: 14px 24px;
  border-radius: 1px;
  outline: none;
  &:hover {
    background-color: $black;
    color: $white;
    cursor: pointer
  }
}

// video
.vid {
  margin-top: 32px;
  margin-bottom: 56px;
  video {
    width: 100%;
    height: auto;
  }
}


// lists
ul {
  list-style-type: none;
  padding: 0;
  margin: 0
}

// hardbreak
span.hardbreak {display: block;}

//highlight
span.red {color: $red}
span.bold {font-family: "Neue Hass Grotesk Bold"}

.blockquote {
  &::before{
    content: "\201C";
    position: relative;
    left:-.8%;
    margin-left: -1.5%;
  }
  &::after{
    content: "\201D";
  }
}

//flex
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.jc {
  &_center {justify-content: center;}
  &_sb {justify-content: space-between;}
}
.ai {
  &_baseline {align-items: baseline;}
}

// make img stretch
img.full {
  width: 100%
}

// bullet-list
ul.bullet-list {
  padding-left: 32px;
  margin-bottom: 24px;
  li {
    &:not(:last-child) {margin-bottom: 12px;}
    span.count {
      padding-right: 8px;
      font-family: "Neue Hass Grotesk Bold"
    }
    span.bullet div {
      width: 7px;
      height: 7px;
      background-color: $black;
      margin-right: 10px;
      border-radius: 50%;
    }
  }
}




.desk-only {
  @media (min-width: $screen-mobileXL + 1) {
    visibility: visible;
  }
  @include break($screen-mobileXL) {
    display: none !important;
  };
}
.mobile-only {
  @media (min-width: $screen-mobileXL + 1) {
    display: none !important;
  }
  @include break($screen-mobileXL) {
    visibility: visible;
  };
}
