//media queries
@mixin break($breakpoints...) {
  @if length($breakpoints)==1 {
    @media (max-width: nth($breakpoints, 1)) {
      @content;
    }
  }

  @if length($breakpoints)==2 {
    @media (min-width: nth($breakpoints, 1)) and (max-width: nth($breakpoints, 2)) {
      @content;
    }
  }
}//close break

//clearfix
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// border
@mixin border($direction...) {
  border-#{$direction}: 1px solid $hot-pink;
}

@mixin ab-po($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

// ---------------------------ANIMATE ON HOVER---------------------------
// Prefix for Hover class names
$nameSpace: 'hvr' !default;
// Browser Prefixes - Which CSS prefixes should be used?
$webkit: true !default;
$moz: false !default;
$ms: false !default;
$o: false !default;
// Durations
$fastDuration: .1s !default;
$mediumDuration: .3s !default;
$slowDuration: .5s !default;
// prefix declarations
@mixin prefixed($property, $value) {
  @if $webkit == true {
    -webkit-#{$property}: #{$value};
  }

  @if $moz == true {
    -moz-#{$property}: #{$value};
  }

  @if $ms == true {
    -ms-#{$property}: #{$value};
  }

  @if $o == true {
    -o-#{$property}: #{$value};
  }

  #{$property}: #{$value};
}
// prefix keyframes
@mixin keyframes($name) {
  @if $webkit == true {
    @-webkit-keyframes #{$name} {
      @content;
    }
  }

  @if $moz == true {
    @-moz-keyframes #{$name} {
      @content;
    }
  }

  @if $ms == true {
    @-ms-keyframes #{$name} {
      @content;
    }
  }

  @if $o == true {
    @-o-keyframes #{$name} {
      @content;
    }
  }

  @keyframes #{$name} {
    @content;
  }
}
/* Wobble To Top Right */
@include keyframes(#{$nameSpace}-wobble-to-top-right) {
  16.65% {
    @include prefixed(transform, translate(8px, -8px));
  }

  33.3% {
    @include prefixed(transform, translate(-6px, 6px));
  }

  49.95% {
    @include prefixed(transform, translate(4px, -4px));
  }

  66.6% {
    @include prefixed(transform, translate(-2px, 2px));
  }

  83.25% {
    @include prefixed(transform, translate(1px, -1px));
  }

  100% {
    @include prefixed(transform, translate(0, 0));
  }
}
@mixin wobble-to-top-right {
  @include prefixed(animation-name, #{$nameSpace}-wobble-to-top-right);
  @include prefixed(animation-duration, 1s);
  @include prefixed(animation-timing-function, ease-in-out);
  @include prefixed(animation-iteration-count, 1);
}
/* Underline From Center */
@mixin underline-from-center {
	$duration: $mediumDuration;
	position: relative;
	overflow: hidden;
	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		left: 51%;
		right: 51%;
		bottom: 0;
		background: $hot-pink;
		height: 4px;
		@include prefixed(transition-property, "left, right");
		@include prefixed(transition-duration, $duration);
		@include prefixed(transition-timing-function, ease-out);
	}
	&:hover,
	&:focus,
	&:active {
		&:before {
			left: 0;
			right: 0;
		}
	}
}




