// typescale: perfect 5th
@font-face {
  font-family: 'Freight Big Book';
  src: url('/assets/fonts/FreightBigBook.ttf')
}
@font-face {
  font-family: 'Freight Big Bold';
  src: url('/assets/fonts/FreightBigBold.ttf')
}
@font-face {
  font-family: 'Neue Hass Grotesk';
  src: url('/assets/fonts/NeueHaasGrotDisp-55Roman.otf')
}
@font-face {
  font-family: 'Neue Hass Grotesk Bold';
  src: url('/assets/fonts/NeueHaasGrotDisp-65Medium.otf')
}


// colors
$black: #1A1A1A;
$white: #fff;
$red: #ff1f25;
$blue: #005cef;

//screen sizes
$screen-desktop: 1224px;
$screen-tablet: 768px;
$screen-tabletXL: 1024px;
$screen-mobile: 375px; //iphone6
$screen-mobileXL: 414px;
