footer {
  margin: 200px 0 100px;
  .links a {
    &:not(:last-child) {margin-right: 32px}
    @include break($screen-mobileXL) { margin-right:0; display: block}
    color: $blue;
    &:hover {font-family: "Neue Hass Grotesk Bold", sans-serif;}
  }
}
