#hero {
  height: 91vh;
  width: 100%;
  background: url('/assets/img/syd-by-design.png') no-repeat;
  background-size: contain;
  background-position: bottom;
}

// Projects
.project {
  margin: 240px 0 0;
  @include break($screen-tablet) { margin: 20px 0 0; }
  &#connected-orgs {
    margin: 180px 0 0;
    @include break($screen-tablet) { margin: 40px 0 0; }
  }
  .info {
    padding-top: 102px;
    h1 {padding: 8px 0 24px}
    button {
      @include break($screen-tablet) { margin-bottom: 24px }
    }
  }
}

// Project Blurbs
.blurb {
  padding: 24px 32px;
  background-color: $black;
  width: 224px;
  border-radius: 1px;
  position: absolute;
  @include break($screen-tablet) {
    top: 24px
  }
  p { color: $white; }
  #group-collabs &{
    left: 200px;
    bottom: -56px;
    @include break($screen-tablet) {
      position: relative;
      left: 0;
      bottom: 0;
    }
  }
  #connected-orgs &{
    left: 200px;
    bottom: -56px;
    @include break($screen-tablet) {
      position: relative;
      left: 0;
      bottom: 0;
    }
  }
  #export-builder &{
    right: 0;
    bottom: -100px;
    @include break($screen-tablet) {
      position: relative;
      right: 0;
      bottom: 0;
    }
  }
  #policy-redesign &{
    right: 0;
    bottom: -80px;
    @include break($screen-tablet) {
      position: relative;
      right: 0;
      bottom: 0;
    }
  }
  #agency &{
    left: 300px;
    top: 50%;
    @include break($screen-tablet) {
      position: relative;
      left: 0;
      top: 0;
    }
  }
}
