.hero {
  height: 90vh;
  @include break($screen-tabletXL) {
    height: auto;
  }  
}
// Project sections
.project {
  .name, .info {
    padding: 1.4rem;
    @media (min-width: $screen-tabletXL) and (max-width: $screen-desktop) {
      padding: 1.125rem;
    }
  }
  &:hover,
	&:focus,
	&:active {
    .arrow {
      @include wobble-to-top-right();
    }
  }
}
.project-hero {
  padding-top: 30px;
  padding-bottom: 30px;
}