// Old - To delete
section#project-header {
  height: 65vh;
  position: relative;
  ul.info {
    position: absolute;
    bottom: 0;
  }
  @include break($screen-tabletXL) {
    height: auto;
    ul.info {position: relative;}
  }
}
// Header
section.split-header {
  height: 90vh;
  min-height: 700px;
  @include break($screen-tabletXL) {
      height: auto;
      min-height: auto;
  };
  .case-cover {@include break($screen-tabletXL) {
      height: 300px;
  };}
  .add-on {
      background: url("/assets/img/kickstarter/add-on-main-img.png") no-repeat;
      background-size: cover;
      background-position: center center;
  }
  .signals {
    background: url("../assets/img/kickstarter/signals-main-img.png") no-repeat;
    background-size: cover;
    background-position: center center;
}
  .monthly-recap {
      background: url("/assets/img/selfmade/collabs-main-img.png") no-repeat;
      background-size: cover;
      background-position: center center;
  }
  .export-builder {
      background: url("/assets/img/home/export-builder-hero.png") no-repeat;
      background-size: cover;
      background-position: center center;
  }
  .expense-policy {
      background: url("/assets/img/home/expense-policy-hero.png") no-repeat;
      background-size: cover;
      background-position: left center;
  }
  img.company-logo {
      width: inherit;
  }
}
section.process {
  margin: 148px 0 0;
  p {
    margin-bottom: 24px;
  }
  img {
    margin: 30px 0
  }
}
