section#header {
  padding-top: 56px;
  .content {
    padding-bottom: 72px;
    h1 {padding-bottom: 28px}
  }
}

section.process {
  margin: 148px 0 0;
  p {margin-bottom: 24px}
  img {
    margin: 24px
  }
}
