section#project-header {
  height: 65vh;
  position: relative;
  ul.info {
    position: absolute;
    bottom: 0;
  }
  @include break($screen-tablet) {
    height: auto;
    ul.info {position: relative;}
  }
}

section.process {
  margin: 148px 0 0;
  p {
    margin-bottom: 24px;
  }
  img {
    margin: 30px 0
  }
}
