section.social-media{
    .content {
        width: 100%;
        @media (max-width: $screen-mobileXL) {
            display: block;
        }
        li.social-icon{
            width: 75px;
            height: 75px;
            position: relative;
            svg {margin: auto;}
            &:hover {
                background-color: $china-blue;
                svg > .path {fill: $white}
            }
            @media (max-width: $screen-mobileXL) {
                width: 33%;
                border-bottom: 1px solid $china-blue;
            }
        }
        p {
            @media (max-width: $screen-mobileXL) {
                padding: 1.125rem;
            }
        }
    }
}